body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.add {
    text-align: right;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.delete button {
    color: red;
    background-color: #FFDAD5;
    border-radius: 4px;
    border: none;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.update button {
    color: #4169E1;
    background-color: #ADD8E6;
    border-radius: 4px;
    border: none;
    padding: 5px 20px;
    margin-bottom: 10px;
}