<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new blogpost</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="POST" action="/add">
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content:</label><br>
        <input type="text" id="content" name="content"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>